.form {
    width: 501px;
    height: 527px;
    box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
    padding-bottom: 48px;
    background-color: var(--white);

}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 51px;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--black);
    background-color: var(--btnGoogleBgColor);
    border: 1px solid var(--inputBorderColor);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    margin: 32px 0;
    cursor: pointer;
}

.googleBtn:hover {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}

.googleIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.text {
    font-family: var(--mainFont);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
}

.inputBlock {
    margin-top: 32px;
    margin-bottom: 40px;
}

.input {
    width: 425px;
    height: 56px;
    border: 1px solid var(--inputBorderColor);
    padding: 20px 25px;

}

.inputWrapper {
    margin-bottom: 24px;
}

input:hover {
    border-color: var(--accentColor);
}

.btn {
    width: 204px;
    height: 60px;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 1px solid var(--inputBorderColor);
    cursor: pointer;
}

.btn:not(:last-of-type) {
    margin-right: 17px;
}

.btn:hover {
    color: var(--white);
    background: var(--accentColor);
}

.message {
    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;
    color: var(--accentColor);
    margin-top: 4px;
  }


@media screen and (max-width: 767px) {
    .form {
        width: 280px;
        padding: 40px 20px;
    }

    .text {
        font-size: 10px;
        line-height: 12px;
    }

    .input {
        width: 240px;
    }

    .btn {
        width: 109px;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }
}