.container {
  width: 280px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 20px;
}

.wrapTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.testNameWrap {
  width: 130px;
}

.testName {
  width: 75px;
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
}

.buttonFinish {
  display: block;
  min-width: 130px;
  height: 48px;
  background-color: var(--accentColor);
  border: none;
  font-family: var(--mainFont);
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  cursor: pointer;
}
.buttonFinish:disabled {
  background-color: #ccc;
  cursor: auto;
}

.questionCounter {
  width: 240px;
  margin: 0 auto 20px;
  font-family: var(--mainFont);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--secondaryTextColor);
}

.currentQuestion {
  color: var(--accentColor);
  font-weight: 700;
}

.question {
  margin: 0 auto;
  min-width: 240px;
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black);
  padding-left: 20px;
  padding-right: 20px;
}

.question::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  width: 130px;
  border-bottom: 1px solid var(--vectorColor);
  opacity: 0.15;
}

.testWrap {
  padding-top: 40px;
  min-width: 280px;
  min-height: 456px;
  background: var(--white);
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  margin-bottom: 20px;
}

.formTest {
  width: 280px;
  display: grid;
  place-content: center;
  margin: 0 auto;
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.formLabel {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 20px;
  font-family: var(--mainFont);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black);
  position: relative;
  cursor: pointer;
}

.formInput {
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: grid;
}

.formInput:checked {
  opacity: 1;
  transform: scale(1);
  accent-color: #ef680d;
}

.formLabel:not(:last-child) {
  margin-bottom: 14px;
}

.paginationBtnWrap {
  display: flex;
  justify-content: space-between;
}

.paginationButton {
  width: 55px;
  height: 34px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  font-family: var(--mainFont);
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: auto;
  color: var(--white);
}

.paginationButton:not([disabled]):hover {
  background-color: var(--accentColor);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .questionsNextPrev {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .container {
    width: 280px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .wrapTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  .testNameWrap {
    width: 130px;
  }

  .testName {
    width: 75px;
    font-family: var(--mainFont);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
  }

  .buttonFinish {
    display: block;
    min-width: 130px;
    height: 48px;
    background-color: var(--accentColor);
    border: none;
    font-family: var(--mainFont);
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    cursor: pointer;
  }
  .buttonFinish:disabled {
    background-color: #ccc;
    cursor: auto;
  }

  .questionCounter {
    width: 240px;
    margin-bottom: 20px;
    margin: 0 auto;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--secondaryTextColor);
  }

  .currentQuestion {
    color: var(--accentColor);
    font-weight: 700;
  }

  .question {
    margin: 0 auto;
    width: 240px;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black);
  }

  .question::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    width: 130px;
    border-bottom: 1px solid var(--vectorColor);
    opacity: 0.15;
  }

  .testWrap {
    padding-top: 40px;
    width: 280px;
    min-height: 456px;
    background: var(--bgTestContainer);
    box-shadow: 0px 4px 15px var(--colorShadow);
    margin-bottom: 20px;
  }

  .formTest {
    width: 240px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    margin-top: 32px;
  }

  .formLabel {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 20px;
    font-family: var(--mainFont);
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--black);
    position: relative;
    cursor: pointer;
    overflow: scroll;
  }

  .formLabel::-webkit-scrollbar {
    background: transparent;
    width: 0px;
    height: 0px;
  }

  .formInput {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: grid;
  }

  .formInput:checked {
    opacity: 1;
    transform: scale(1);
    accent-color: #ef680d;
  }

  .formLabel:not(:last-child) {
    margin-bottom: 14px;
  }

  .paginationBtnWrap {
    display: flex;
    justify-content: space-between;
  }

  .paginationButton {
    width: 55px;
    height: 34px;
    background-color: var(--bgTestContainer);
    border: none;
    color: var(--black);
    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
  .paginationButton:not([disabled]):hover {
    background-color: var(--accentColor);
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding-top: 60px;
    padding-bottom: 273px;
  }

  .iconBtn {
    width: 24px;
    height: 24px;
  }

  .wrapTop {
    margin-bottom: 30px;
  }

  .testNameWrap {
    width: 220px;
  }

  .testName {
    width: 117px;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
  }

  .buttonFinish {
    width: 181px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
  }

  .testWrap {
    width: 704px;
    min-height: 453px;
    padding-bottom: 60px;
  }

  .questionCounter {
    font-size: 14px;
    margin-bottom: 8px;
    width: 650px;
  }

  .question {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;
    width: 650px;
  }

  .question::after {
    width: 336px;
    margin-top: 28px;
  }

  .formTest {
    width: 558px;
  }

  .formLabel {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.02em;
  }

  .paginationBtnWrap {
    width: 704px;
  }

  .paginationButton {
    width: 210px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 828px;
    padding-bottom: 107px;
  }

  .testNameWrap {
    width: 107px;
  }

  .testName {
    font-weight: 500;
  }

  .testWrap {
    width: 821px;
    min-height: 445px;
  }

  .questionCounter {
    font-size: 14px;
  }

  .question::after {
    width: 321px;
  }

  .formTest {
    width: 648px;
  }

  .paginationBtnWrap {
    width: 820px;
  }
}
