.menu {
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--primaryBgColor);
}

.navlist {
    display: flex;
    flex-direction: column;
}

.navListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    border-bottom: 1px solid var(--headerBorderColor);
}

.signOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    font-family: var(--mainFont);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
}

.navLink:hover {
    color: var(--accentColor);
}

.activeLink {
    font-family: var(--mainFont);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    border-bottom: 1px solid var(--accentColor);
    color: var(--black);
}

.signOutIcon {
    fill: var(--black);
}