.Chart {
  position: relative;
  text-align: center;
}

.Chart > svg {
  position: relative;
  width: 156px;
  height: 156px;
  margin: 0 auto;
  overflow: visible;
}

.logosocial {
  fill: black;
  transition: fill 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logosocial:hover {
  fill: #e96105;
}

.anim {
  animation: reveal 2s normal forwards ease-in-out;
  animation-iteration-count: 1;
}

.valuesBlock {
  position: absolute;

  font-size: 10px;
  line-height: 12px;
  font-weight: var(--medium);
}

.correctBlock,
.incorrectBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.correctBlock {
  display: flex;
  margin-bottom: 14px;
}
.correctInnerBlock,
.incorrectInnerBlock {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.line {
  content: '';
  display: block;
  margin: 10px auto 12px;
  position: absolute;
  left: -48px;
  top: -3px;
  width: 43px;
  height: 1px;
  background-color: #000000;
}
.line2 {
  content: '';
  display: block;
  position: absolute;
  left: -66px;
  top: 7px;
  width: 18px;
  height: 1px;
  background-color: #000000;
  transform-origin: right;
  transform: rotateZ(-30deg);
}
.line2::after {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  top: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}

.correctColor,
.incorrectColor {
  margin-left: 4px;
  margin-right: 6px;
}
.correctColor {
  width: 14px;
  height: 14px;
  background-color: #ff6b09;
}
.incorrectColor {
  width: 14px;
  height: 14px;
  background-color: #d7d7d7;
}

.valuesBlock {
  top: 57px;
  right: -15px;
  font-size: 10px;
  line-height: 12px;
}
.correctBlock,
.incorrectBlock {
  display: block;
  margin-bottom: 2px;
}
.correctText {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .Chart > svg {
    width: 285px;
    height: 285px;
  }
  .valuesBlock {
    top: 110px;
    right: 53px;
    font-size: 16px;
  }
  .correctBlock {
    margin-bottom: 15px;
  }

  .correctBlock,
  .incorrectBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .correctInnerBlock,
  .incorrectInnerBlock {
    margin-right: 5px;
  }
  .correctColor {
    width: 25px;
    height: 25px;
  }
  .incorrectColor {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .valuesBlock {
    top: 110px;
    right: 308px;
  }
}

.title {
  position: relative;
  font-size: 28px;
  margin-bottom: 8px;

  text-align: center;
}

.titleText {
  position: relative;
  text-align: center;
  margin-bottom: 60px;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.titleText::after {
  content: ' ';
  position: absolute;

  bottom: -20px;
  left: 25%;
  width: 50%;
  height: 2px;

  background: var(--diagramWrongBgColor);
  border-radius: 2px;
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
