.user {
  padding-top: 70px;
  padding-bottom: 40px;
}

table {
  display: none;
}

.mult {
  width: 250px;
  height: 150px;

  margin: 0 auto;
}

.mult>img {
  width: 250px;
  height: 150px;
  box-shadow: 0px 0px 25px 10px rgb(199, 196, 196);
  border-radius: 10px;
  border: 1px solid var(--inputBorderColor);
}

.multNull {
  width: 250px;
  height: 150px;
  margin: 0 auto;
}

.multNull>img {
  width: 250px;
  height: 150px;
  box-shadow: 0px 0px 25px 10px rgb(199, 196, 196);
  border-radius: 10px;
  border: 1px solid var(--inputBorderColor);
}

.UserChart {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.text {
  position: absolute;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.22;
  color: var(--textCharUser);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: var(--textShadow);
}

.Cart {
  width: 280px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 8px;

  font-family: var(--mainFont), Sans-Serif;
  font-size: 14px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background: var(--bgGraphite);
  color: var(--textTabl);
  border: 10px solid var(--headerBorderColor) !important;

  border-radius: 20px;
}

.Cart li {
  text-align: left;
  letter-spacing: 1;
  margin: 10px;
  padding: 5px;
  color: #fff;
  background: #e38627;
}


.list {
  margin-bottom: 25px;
}

.buttonT {
  cursor: pointer;
  background-color: #C13C37;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.itemT {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  text-align: center;
  margin-bottom: 15px;
}

.linkT {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}

.linkT::before {
  position: absolute;
  content: '';
  inset: 0;
}

.buttonQ {
  cursor: pointer;
  background-color: rgb(227, 134, 39);
  ;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.itemQ {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  text-align: center;
  margin-bottom: 15px;
}

.linkQ {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}

.linkQ::before {
  position: absolute;
  content: '';
  inset: 0;
}

@media screen and (min-width: 768px) {

  .Cart {
    display: none;
  }

  .wrapTable {
    position: relative;
  }


  table {
    width: 713px;
    max-height: 300px;
    overflow-x: hidden;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 45px;
    font-family: var(--mainFont), Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: var(--bgGraphite);
    color: var(--textTabl);
    border: 16px solid var(--headerBorderColor) !important;
    border-radius: 20px;
  }

  table::-webkit-scrollbar {
    width: 7px;
    background-color: #3f3f405c;
    border-radius: 9em;
  }

  /* ползунок скроллбара */
  table::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(114 103 103) 37%, rgb(108 99 99) 61%);
    border-radius: 9em;
  }

  th {
    text-align: center;
    position: sticky;
    z-index: 3;
    position: -webkit-sticky;
    top: 0;
    background: var(--bgGraphite);
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
  }

  td {
    position: relative;
    text-align: center;
    padding: 5px;
    color: #fff;
    max-height: 280px;
  }

  tbody {
    height: 100px;
    overflow: scroll;
  }

  .mult {
    width: 366px;
    height: 200px;
  }

  .mult>img {
    width: 366px;
    height: 200px;
  }

  .UserChart {
    width: 366px;
    height: 366px;

    margin-bottom: 40px;
  }

  .list {
    display: none;
  }


  .delete {
    cursor: pointer;
  }

  .th {
    cursor: context-menu;
  }

  .multNull {
    width: 366px;
    height: 366px;
  }

  .multNull>img {
    width: 366px;
    height: 366px;
  }
}

@media screen and (min-width: 1280px) {
  table {
    width: 1020px;
    font-size: 15px;
  }

  th {
    padding: 10px;
    width: 200px;
  }

  td {
    font-size: 15px;
    padding: 10px;
  }

  .userContainer {
    display: flex;
    align-items: center;
  }

  table th:first-child {
    width: 200px;
    padding: 0 25px;
  }

  .UserChart {
    margin-bottom: 0;
  }

  .multNull {
    width: 550px;
    height: 350px;
  }

  .multNull>img {
    height: 300px;
    width: 500px;
  }

}