.header {
    position: relative;
    width: 100vw;
    background: #F5F6FB;
    border-bottom: 1px solid #e2e3e5;

}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBlock {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 80px;
}

.navList {
    display: flex;
    align-items: center;
}



.navLink {
    text-decoration: none;
    font-family: 'Montserrat';
    letter-spacing: 0.02em;
    color: #000;
}

.navLink:hover {
    color: #FF6B09;
}

.activeLink {
    font-family: 'Montserrat';
    letter-spacing: 0.02em;
    text-decoration: none;
    border-bottom: 1px solid #FF6B09;
}

.userPanel {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.userIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;

    color: #555555;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);

    margin-right: 20px;
}

.user {
    font-family: 'Montserrat';
    letter-spacing: 0.02em;
    margin-right: 20px;
}

.signOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    border-left: 1px solid #e2e3e5;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.mobMenuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    border-left: 1px solid #e2e3e5;
    padding-left: 20px;
    padding: 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .user {
        display: none;
    }

    .signOutBtn {
        display: none;
    }
 
}

@media screen and (min-width: 768px) {
    .mobMenuBtn {
        display: none;
    }

    .navListItem:not(:last-of-type) {
        margin-right: 60px;
    }

    .nav {
        margin-right: 40px;
    }

    .navLink {
        font-size: 12px;
    }

    .activeLink {
        font-size: 12px;
    }
    .user {
        font-size: 12px;
    }
}

@media screen and (min-width: 1280px) {
    .navLink {
        font-size: 14px;
        line-height: 16px;
    }
    .navListItem:not(:last-of-type) {
        margin-right: 80px;
    }
    .user {
        font-size: 14px;
        line-height: 16px;
    }
    .activeLink {
        font-size: 14px;
    }
}